In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("BigMartSalesData.csv")

In [3]:
data

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,Amount,InvoiceDate,Day,Month,Year,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,15.30,01-12-10,1,12,2010,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,3.39,20.34,01-12-10,1,12,2010,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,22.00,01-12-10,1,12,2010,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,20.34,01-12-10,1,12,2010,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,20.34,01-12-10,1,12,2010,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...,...
541869,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,10.20,09-12-11,9,12,2011,12680.0,France
541870,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12.60,09-12-11,9,12,2011,12680.0,France
541871,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,16.60,09-12-11,9,12,2011,12680.0,France
541872,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,16.60,09-12-11,9,12,2011,12680.0,France
541873,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,14.85,09-12-11,9,12,2011,12680.0,France

In [4]:
sales.head()

NameError: name 'sales' is not defined

In [5]:
df.head()

NameError: name 'df' is not defined

In [6]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,Amount,InvoiceDate,Day,Month,Year,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,15.30,01-12-10,1,12,2010,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,3.39,20.34,01-12-10,1,12,2010,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,22.00,01-12-10,1,12,2010,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,20.34,01-12-10,1,12,2010,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,20.34,01-12-10,1,12,2010,17850.0,United Kingdom

In [7]:
data.tail()

,InvoiceNo,StockCode,Description,Quantity,UnitPrice,Amount,InvoiceDate,Day,Month,Year,CustomerID,Country
541869,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,0.85,10.20,09-12-11,9,12,2011,12680.0,France
541870,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2.10,12.60,09-12-11,9,12,2011,12680.0,France
541871,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,16.60,09-12-11,9,12,2011,12680.0,France
541872,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,16.60,09-12-11,9,12,2011,12680.0,France
541873,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,4.95,14.85,09-12-11,9,12,2011,12680.0,France

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541874 entries, 0 to 541873
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541874 non-null  object
 1   StockCode    541874 non-null  object
 2   Description  540422 non-null  object
 3   Quantity     541874 non-null  int64
 4   UnitPrice    541874 non-null  float64
 5   Amount       541874 non-null  float64
 6   InvoiceDate  541874 non-null  object
 7   Day          541874 non-null  int64
 8   Month        541874 non-null  int64
 9   Year         541874 non-null  int64
 10  CustomerID   406829 non-null  float64
 11  Country      541874 non-null  object
dtypes: float64(3), int64(4), object(5)
memory usage: 49.6+ MB

In [9]:
data.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1452
Quantity            0
UnitPrice           0
Amount              0
InvoiceDate         0
Day                 0
Month               0
Year                0
CustomerID     135045
Country             0
dtype: int64

In [10]:
data['CustomerID'] = data['CustomerID'].astype(str)
print(type(data['CustomerID'][0]))

<class 'str'>

In [11]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])
print(type(data['InvoiceDate'][0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [12]:
data['Month'] = data['InvoiceDate'].apply(lambda x: x.strftime('%B'))
print(data['Month'].unique())

['January' 'February' 'March' 'May' 'June' 'July' 'August' 'September'
 'October' 'December' 'April' 'November']

In [13]:
average_unit_price = data['UnitPrice'].mean()
print('Average Unit Price:', average_unit_price)

Average Unit Price: 4.610038189684809

In [14]:
data['Amount'] = data['Quantity'] * data['UnitPrice']
highest_amount = data['Amount'].max()
print('Highest Amount Paid:', highest_amount)

Highest Amount Paid: 168469.6

In [15]:
top_5_customers = data.groupby('CustomerID')['Amount'].sum().sort_values(ascending=False)[:5]
print(top_5_customers)

CustomerID
nan        2017853.78
16446.0     336942.10
14646.0     280923.02
18102.0     262876.11
17450.0     201619.41
Name: Amount, dtype: float64

In [16]:
bottom_5_customers = data.groupby('CustomerID')['Amount'].sum().sort_values(ascending=True)[:5]
print(bottom_5_customers)

CustomerID
13256.0    0.00
16995.0    1.25
14679.0    2.55
16428.0    2.95
16738.0    3.75
Name: Amount, dtype: float64

In [17]:
data['Year'] = data['InvoiceDate'].apply(lambda x: x.year)
orders_2010 = data[data['Year'] == 2010]['InvoiceNo'].nunique()
orders_2011 = data[data['Year'] == 2011]['InvoiceNo'].nunique()
print('Number of Orders in 2010:', orders_2010)
print('Number of Orders in 2011:', orders_2011)

Number of Orders in 2010: 2025
Number of Orders in 2011: 23872

In [18]:
customer_orders = data.groupby('CustomerID')['InvoiceNo'].nunique()
customers_ordered_once = customer_orders[customer_orders == 1].count()
print('Number of Customers Who Ordered Just Once:', customers_ordered_once)

Number of Customers Who Ordered Just Once: 1313